@font-face {
    font-family: 'Orbitron';
    src: url('fonts/Orbitron-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-background-color: #0f172a;
    --color-principal: #38bdf8;
    --text-main: #e2e8f0;
    --text-soft: #cbd5f5;
    --text-muted: #94a3b8;
    --color-hover: #0ea5e9;
    --font-main: 'Orbitron', sans-serif;
}  
body {
    font-family: var(--font-main);
    background-color: var(--main-background-color);
    color: var(--text-main);
    text-align: center;
    margin: 0;
    padding: 20px;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    margin-top: 1.5rem;
    color: var(--color-principal);
}

p {
    color: var(--text-soft);
}

/* Links */
a {
    color: var(--color-principal);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--color-hover);
}

button {
    background-color: var(--color-principal);
    color: black;
    padding: 1.25rem;        /* 20px */
    border: none;
    border-radius: 0.5rem;   /* 8px */
    cursor: pointer;
    margin-top: 0.625rem;    /* 10px */
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    background-color: var(--color-hover);
    transform: scale(1.05);
    box-shadow: 0 0 0.625rem var(--color-principal); /* 10px */
}
/* Inputs */
input {
    display: block;
    margin: 0.625rem auto;
    padding: 0.625rem;
    border-radius: 0.375rem;
    border: none;
    width: 12.5rem;
}

/* Contador */
#counter {
    margin-top: 15px;
    font-size: 14px;
    color: #94a3b8;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0.3125rem 0;
}



.photo {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}


.page {
    background-color: #0f172a;
    color: #e2e8f0;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: var(--font-main);
}

.button {
    background-color: var(--color-principal);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


.field {
    display: block;
    margin: 0.625rem auto;
    padding: 0.625rem;
    border-radius: 0.375rem;
    border: none;
    width: 12.5rem;
}

.list {
    list-style: none;
    padding: 0;
}

.counter {
    margin-top: 15px;
    font-size: 14px;
    color: #94a3b8;
}